@use "colors" as *;

.search-filters {
  border: 4px solid $color-bg-card;
  border-radius: 8px;
  padding: 8px;
  width: min(700px, 100%);
  box-shadow: $shadow-soft;

  .search-label {
    font-weight: bold;
  }

  .search-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding: 8px;

    input,
    .btn {
      min-width: 0;
    }
  }
}
