$color-primary: #3777ff;
$color-primary-light: #eff5fa;
$color-primary-hover: #245ce0;
$color-error: #e00f00;
$color-text: #1f1f1f;
$color-bg: #81b2d9;
$color-bg-card: #ffffff66;
$color-bg-table-header: #ffffffd7;
$color-bg-table-cell: #ffffff33;
$color-bg-table-body: #ffffff0d;
$primary-alpha-40: #3777ff66;
$error-alpha-40: #e00f0066;

$shadow-strong: 0 0 20px #0000001a;
$shadow-soft: 0 -2px 8px #00000014;
$border-focus: 0 0 0 2px #3777ff5f;
