:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 700px;
  height: 100%;

  .employees-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    h1 {
      word-break: break-word;
    }
  }
}
